:root{
    --forte:#543310;
    --fraco:#AF8F6F;
    --medio:#74512D;
    --leite:#F8F4E1;
    --preto:#000000;
    --ado:#0011ff;
}
header{
    display: flex;
    width: 100%;
    background-color: var(--medio);
    padding: 1rem;
    position: relative;
    justify-content: center;
}

.menu-variaçao{
    width: 20%;
    display: inline-block;
}
body{
    background-color: var(--fraco);
}
.botao-variaçao{
    cursor: pointer;
    font-size: 2rem;
    background: none;
    background-color: var(--leite);
    border: none;
    padding: 1.05rem 1.5rem;
    color: var(--ado);
}
#men