:root{
    --forte:#543310;
    --fraco:#AF8F6F;
    --medio:#74512D;
    --leite:#F8F4E1;
    --preto:#000000;
    --ado:#0011ff;
}
header{
    display: flex;
    width: 100%;
    background-color: var(--medio);
    padding: 1rem;
    position: relative;
    justify-content: center;
}

.menu-variaçao{
    width: 20%;
    display: inline-block;
}
body{
    background-color: var(--fraco);
}