:root{
    --forte:#543310;
    --fraco:#AF8F6F;
    --medio:#74512D;
    --leite:#F8F4E1;
    --preto:#000000;
    --ado:#0011ff;
}
header{
    display: flex;
    width: 100%;
    background-color: var(--medio);
    padding: 1rem;
    position: relative;
    justify-content: center;
}

.menu-variaçao{
    width: 20%;
    display: inline-block;
}
body{
    background-color: var(--fraco);
}
.botao-variaçao{
    cursor: pointer;
    font-size: 2rem;
    background: none;
    background-color: var(--leite);
    border: none;
    padding: 1.05rem 1.5rem;
    color: var(--ado);
}
#menu-toggle {
    display: none;
}
.lista-vertical{
    display: none;
    position: absolute;
    background-color: var(--fraco);
    box-shadow: 0 2px 5px var(--medio);
    min-width: 190px;
    z-index: 1;
    left: 1rem;
    top: 100%;
}
.lista-vertical a{
    color: var(--preto);
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    text-align: center;
}
.lista-vertical a:hover {
    background-color: var(--fraco);
}
#menu-toggle:checked ~ .lista-vertical {
    display: block;
}
#menu-toggle:checked + .botao-variaçao {
    background-color: var(--preto);
}